<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <title>Dear Santa</title>
    </head>
    <body>
      <nav id='menu'>
        <input type='checkbox' onclick='updatemenu()'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/presents'>Tell Santa!</a></li>
        </ul>
      </nav>

      <img src="../images/merryc.png" width="700px">
      
      {{{body}}}

    </body>
  </html>